<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "home_style" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
			<nav class="navigation">
 			 	<ul>
					<a href="#" id="top"><li>BEST DINOS</li></a>
					 <a href="#" id="top"><li>MAP</li></a>
					 <a href="#" id="top"><li>DINO DATABASE</li></a>
					 <a href="#" id="top"><li>ADD A DINO</li></a>
					 <a href="#" id="top"><li>CONTACT</li></a>
  			</ul>
			</nav>
		</div>
		<div class="intro">
			<div class ="dinosaur_Q_and_A">
				<h1> Why dinosaurs in London? </h1>
				<p1> Because London is full of dinosaurs. <br>
				You can find them in museus and galleries, <br>
				but also in pubs, underground and shops. <br><br>
				This website collects them all. <br> </p1>
			</div>
		</div>
		<div class="slides">
			<div class="phenomenon_description">
				<div class="description_text">
					<p4> See the best dinosaurs in London <br> </p4>
				</div>
			</div>
		</div>
		<div class="dinosaur_map_invit">
			<p4> See the map of all London dinosaurs </p4>
		</div>
		<div class="dinosaur_map">
		</div>
		<div class ="dinosaur_database">
			<p4> Check our full dino-database </p4>
		</div>
		<div class ="dinosaur_grid">
			<!-- opening tag and percent below means that we use ruby here [does operation]-->
			<% @places.each do |place| %>
				<div class="dino_box">
					<!-- opening tag, percent and assignment below means that we use ruby here [does operation and returns value]-->
					<h2> <%= place.name %>  </h2> <br>
					<p2> <%= place.description %> </p2> <br>
					<p3> <%= place.address %> </p3> <br><br>
					<img src=<%= place.image %> height="250px" width="250px" class="dinopic">
				</div>
			<% end %>
		</div>
		<div class ="dinosaur_add_invit">
			<p4> Add a dinosaur to our website </p4>
		</div>
		<div class="add_a_dinosaur">
			<p6> 1) Fill a form - provide us with: </p6>
			    <p7> > title of image <br>
					 > description of the image <br>
					 > address of the dinosaur <br>
					 > and link to image  <br> </p7>
			   <p6>
					2) Add a dinosaur by clicking the button below. </p6> <br><br>
					 <p8>Remember - once added, the dinosaur info cannot be removed.</p8>
			<div class ="button"><%= link_to 'New Dino Place', "home/new" %></div>
		</div>
	</body>
</html>
