<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		 <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- Bootstrap CSS-->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		 <%= stylesheet_link_tag "dinoplaces_style" %>
     <%= stylesheet_link_tag "general_css" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>

		<!-- BOOTSTRAP NAVBAR -->
		<div class="header">
				<nav class="navbar navbar-expand-lg navbar-light bg-light" class="nav">
				  <a class="navbar-brand" href="/home">HOME</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
				      <li class="nav-item">
				        <a class="nav-link" href="/map">MAP </a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/dinoplaces">DINO DATABASE</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="place/new">ADD A DINO</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/about">ABOUT</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>


		<div class ="subsite_header">
			<p4> Dino-database </p4>
		</div>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
		<div class ="dinosaur_grid">
			<!-- opening tag and percent below means that we use ruby here [does operation]-->
			<% @places.each do |place| %>
				<div class="dino_box">
					<!-- opening tag, percent and assignment below means that we use ruby here [does operation and returns value]-->
					<h2> <%= place.name.upcase %>  </h2><br>
          <div class="small_image">
          <% if place.image_address == nil || place.image_address.length  > 0 then %>
					     <img src=<%= place.image_address %> height="250px" width="250px" class="dinopic">
          <% else %>
            <%= link_to image_tag(place.image.url(:med)), place.image.url %>
          <% end %>
        </div><br>
        <p3> Added by: <%= place.user_name %> </p3> <br>
					<p2> Description: <%= place.description %> </p2> <br>
					<p2> Address: <%= place.address %> </p2> <br>

				</div>
			<% end %>
		</div>

</html>
