<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "dinoplaces_style" %>
     <%= stylesheet_link_tag "general_css" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
			<nav class="navigation">
 			 	<ul>
          <a href="/home" id="top"><li>HOME</li></a>
					 <a href="/map" id="top"><li>MAP</li></a>
					 <a href="/dinoplaces" id="top"><li>DINO DATABASE</li></a>
					 <a href="place/new" id="top"><li>ADD A DINO</li></a>
					 <a href="/about" id="top"><li>ABOUT US</li></a>
  			</ul>
			</nav>
		</div>
		<div class ="subsite_header">
			<p4> Check out our full dino-database </p4>
		</div>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
		<div class ="dinosaur_grid">
			<!-- opening tag and percent below means that we use ruby here [does operation]-->
			<% @places.each do |place| %>
				<div class="dino_box">
					<!-- opening tag, percent and assignment below means that we use ruby here [does operation and returns value]-->
					<h2> <%= place.name %>  </h2> <br>
					<p2> <%= place.description %> </p2> <br>
					<p2> <%= place.address %> </p2> <br>
          <p3> Added by: <%= place.user_name %> </p3> <br><br>
					<img src=<%= place.image %> height="250px" width="250px" class="dinopic">
				</div>
			<% end %>
		</div>
	</body>
</html>
