<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "new_style" %>
		 <%= stylesheet_link_tag "general_css" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
			<nav class="navigation">
 			 	<ul>
					<a href="/home" id="top"><li>HOME</li></a>
					 <a href="/map" id="top"><li>MAP</li></a>
					 <a href="/dinoplaces" id="top"><li>DINO DATABASE</li></a>
					 <a href="place/new" id="top"><li>ADD A DINO</li></a>
					 <a href="/about" id="top"><li>ABOUT US</li></a>
  			</ul>
			</nav>
		</div>
		<div class ="subsite_header">
			<p4> Add a dinosaur to our website </p4>
		</div>


    <div class="create">
			<% if @form_error == true %>
				<div class="wrong_form">
					There was a missing info in the form
				</div>
			<% end %>

     	<%= form_for(@place, url: '/place') do |f| %>
    		<div class="fields">
      		<p7> Name: <br> <%= f.text_area :name, class: "single_field", placeholder: "How do you want to name this dinosaur?" %> </p7>
          <p7> Description: <br> <%= f.text_area :description, class: "single_field", placeholder: "Add a brief description of this dinosaur." %> </p7>
          <p7> Address: <br> <%= f.text_area :address, class: "single_field", placeholder: "Where can we find this dinosaur?" %> </p7>
          <p7> Image: <br> <%= f.text_area :image, class: "single_field", placeholder: "Link to the online image of dinosaur (facultative)" %> </p7>
    		</div>
    		<div class="actions">
      		<%= f.submit "Submit", class: "button" %> <!-- when submit is called, take data from form and send them to url: place_path-->
    		</div>
				<p8>Remember - once added, the dinosaur info cannot be removed.</p8>
				<p8>At least not by you.</p8>
  		<% end %>
			<img src="https://vignette.wikia.nocookie.net/walkingwith/images/5/55/Velociraptor-dino-large.png/revision/latest?cb=20131026181528", id="veloci">
  	</div>

</body>
</html>
