<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="https://vignette.wikia.nocookie.net/dino/images/5/56/9540143_orig.png/revision/latest?cb=20150912162803">
		<!-- Required meta tags -->
		 <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- Bootstrap CSS-->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		 <%= stylesheet_link_tag "new_style" %>
		 <%= stylesheet_link_tag "general_css" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>


<!-- BOOTSTRAP NAVBAR -->
	<div class="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/home">HOME</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="/map">MAP </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/dinoplaces">DINO DATABASE</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="place/new">ADD A DINO</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/about">ABOUT</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>


		<div class ="subsite_header">
			<p4> Add a dinosaur to the website </p4>
		</div>
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>

    <div class="create">
			<% if @form_error == true %>
				<div class="wrong_form">
					There was a missing info in the form
				</div>
			<% end %>

     	<%= form_for @place, url: '/place', html: { multipart: true } do |f| %>
    		<div class="fields">
					<p7> Your name: * <br> <%= f.text_area :user_name, class: "single_field", placeholder: "What's your name?" %> </p7>
      		<p7> Dinosaur name: * <br> <%= f.text_area :name, class: "single_field", placeholder: "How do you want to name this dinosaur?" %> </p7>
          <p7> Description: * <br> <%= f.text_area :description, class: "single_field", placeholder: "Add a brief description of this dinosaur." %> </p7>
          <p7> Address: * <br> <%= f.text_area :address, class: "single_field", placeholder: "Where can we find this dinosaur?" %> </p7><br>
					<p8> * - mandatory fields </p8>
					<br><br><br>
          <p7> Link to an image: <br> <%= f.text_area :image_address, class: "single_field", placeholder: "Link to the online image of dinosaur" %> </p7> <br><%  %>
					<form>
					<p12> or </p12>
			  	<div class="form-group">
				    <p7> Upload an image from a file: </p7><br>
						<div class="upload"><%= f.file_field :image %></div>
			  	</div>
    		</div>
    		<div class="actions">
      		<%= f.submit "Submit", class: "button" %> <!-- when submit is called, take data from form and send them to url: place_path-->
    		</div>
				<p8>Remember - once added, the dinosaur info cannot be removed.</p8>
				<p8>At least not by you.</p8>
  		<% end %>
			<img src="https://i0.wp.com/islanublar.jurassicworld.com/media/dinosaurs/apatosaurus/apatosaurus-info-graphic.png", id="bronto">
  	</div>
		<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
